:root {
    --color-texto: #2f1a35;
    --color-texto-secundario: #592771;
    --color-principal: #e4d4ff; 
    --color-secundario: #d29aff; 
    --fuente-principal: 'Arial', sans-serif;
}

*{
    font-family: "Parkinsans", sans-serif;
}
 /* menú styles */
.port-menu {
    padding: 0.5rem 1rem;
    backdrop-filter: blur(10px);
    position: fixed;
    justify-content: start;
    top: 0px;
    width: 100%;
    z-index: 2;
    animation: wipe-in-right 1s;
}

.port-menu {
    transition: box-shadow 0.5s ease-in-out;
}

.scrolled{
    transition: 0.5s;
    box-shadow: #af6fc7ab 0px -10px 60px;
    z-index: 1;

}
.offcanvas{
    height: 100vh;
}

@keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  }

.principal{
    background: linear-gradient(0deg, var(--color-principal), #c291f7);
    width: 100%;
    height: 100vh;
}
.container-all{
    justify-content: center;
    align-items: center;
}
.navbar-collapse{
    justify-content: end;
}

.p-name {
    color: var(--color-texto);
    font-size: 1.3rem;
    font-weight: 500;
}

.name img{
    display: none;
}

.nav-link {
    color: var(--color-texto);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
    color: var(--color-texto-secundario);
    transform: scale(1.2);
}

/* welcome section styles */
.title-name {
    color: var(--color-texto);
    font-size: 3.3rem;
}
.title-name span{
    color: var(--color-texto-secundario);

}
.subtitle-name, .subtitle-name-s {
    color: var(--color-texto);
    font-size: 2.5rem;
}
.subtitle-name {
    position: relative;
    display: inline-block;
    color: var(--color-texto-secundario);
}
  
  .subtitle-name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px; /* Grosor del subrayado */
    background-color:#975fab;
    box-shadow: rgba(236, 127, 255, 0.577) 0px 0px 10px;
    animation: underline 1s linear infinite;
  }
  
  @keyframes underline {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
        margin-left: 100%;
        width: 0%;
    }
  }
  

.btn {
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    font-weight: bold;
    border-radius: 10px;
    font-size: 100%;
    border: solid rgb(39, 30, 48) 1px;
    margin: 10px;
    margin-top: 1.5rem;
    text-align: center;

}
.btn:hover{
    background-color: #d6a4ff;
    color: var(--color-texto);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.349);
    transform: scale(1.1);
    transition: 0.15s;
}

.btn svg{
    margin-right: 5px;
}

.butons{
    flex-wrap: wrap;
}
.port-body {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-container {
    position: relative;
    text-align: center;
    margin: 1rem 0;
}

.avatar {
    width: 130px;
    height: 130px;
    position: relative;
}

.semicirculo {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 110px;
    background-color: rgba(184, 93, 244, 0.571);
    border-radius: 250px 250px 0 0;
    clip-path: circle(0% at 50% 100%);
    animation: formarse 2s ease-out forwards;
}
.full-name{
    display: none;
}
@keyframes formarse {
    0% {
        clip-path: circle(0% at 50% 100%);
    }
    100% {
        clip-path: circle(100% at 50% 100%);
    }
}

/*proyects section styles*/

.proyects-container-all{
    margin-left: 0%;
    margin-top: 5%;
    width: 70%;
}

.gradient{
background: linear-gradient(0deg, rgba(9,9,121,0) 40%, rgba(228,212,255,1) 100%);
width: 100%;
height: 20vh;
}

.proyects-header p{
    color: var(--color-texto);
    font-size: 1.25rem;
    margin-top: 20px;

}

.proyects-header h1{
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.card-proyect{
    margin-left: 10%;
    margin-top: 50px;
    background-color: var(--color-principal);
    border-radius: 30px;
    color: var(--color-texto);
    font-size: 100%;
}
.proyect-img{
    width: 100%;
    border-radius: 15px;
}
/* .proyects-container{
    display: flex;
    flex-wrap: wrap;
} */
.card-buttons button{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 90%;
}
.title-proyect{
    color: var(--color-texto-secundario);
    
}

/*sobre me*/

.contenido-sobre-mi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about-me h1{
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.foto-perfil {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--color-principal);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.foto-perfil:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.texto-sobre-mi {
    max-width: 600px;
    line-height: 1.8;
}


footer{
    background-color: var(--color-principal);
    margin-top: 10%;
}

.contact a{
    border-radius: 25px;
    font-size: 0.9rem;
    border: solid 1px rgba(0, 0, 0, 0.442);
    text-decoration: none;
    color: var(--color-texto);
    background-color: #c291f760;
    transition: transform 0.3s ease-in-out;
}
.line{
    width: 100%;
    height: 2px;
    background-color: #3a124598;
}
.contact{
    width: 50%;
    margin: 0 auto;
}

.contact a:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 6px #2f1a3547;
}
